<app-navbar></app-navbar>

<div class="flex justify-center items-center h-screen bg-gray-100">
  <div class="text-center">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-24 w-24 mx-auto text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M18 6L6 18"></path>
      <path d="M6 6l12 12"></path>
    </svg>
    
    <h1 class="text-4xl font-extrabold text-gray-800 mt-4">Oops! Page Not Found</h1>
    <p class="text-lg text-gray-600 mt-2">We couldn’t find the page you were looking for.</p>


    <div class="mt-6">
      <a href="/" class="btn btn-primary py-3 px-6 bg-blue-600 text-white rounded-lg shadow-lg hover:bg-blue-700 transition duration-300">
        Go Back Home
      </a>
    </div>
  </div>
</div>

